<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/css/loginstyle.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'assets/images/favicon.ico' %}">

    <title>Diagnosis</title>
</head>

<body>

    <section>
        <div class="container">
            <div class="login-logo">
                <img src="{% static 'assets/images/logo.png' %}">
            </div>
            <div class="log">
                <h1>Forget Password</h1>

            </div>
            <div class="login-form">
                <div class="l-one">
                    <h2>Password Reset Complete</h2>
    <p>Your password has been set. You can now log in with the new password.</p>
    <a href="{% url 'AccountApp:LoginView' %}">Log in</a>
                <div class="l-two">
                    <img src="{% static 'assets/images/login.jpg' %}">
                </div>
            </div>
        </div>
    </section>

</body>

</html>