{% extends "AdminBase.html" %}
{% load static %}
{% block content %}
<section>
	<div class="banner-one">
		<h2>ADMIN DASHBOARD</h2>
	</div>
	<div class="our-services">
		<div class="services-card">
			<img src="{% static 'assets/images/accounts.png' %}">
			<div class="service-btn">
				<button><a href="" class="anchor">Manage Accounts</a></button>
			</div>
		</div>
		<div class="services-card">
			<img src="{% static 'assets/images/health.jpeg' %}">
			<div class="service-btn">
				<button><a href="" class="anchor">Patients List</a></button>
			</div>
		</div>
	</div>
</section>

{% endblock content %}