
{% extends "MainBase.html" %}
{% load static %}
{% block content %}


<section>


    <div class="banner-one">

        <h2>OUR SERVICES</h2>
        <p>We have developed deep learning models to classify three diseases including<br> Covid-19, Lung Cancer,
            Pneumonia disease.</p>

    </div>

    <div class="our-services">

        <div class="services-card">

            <img src="{% static 'assets/images/covid.jpg' %}">
            <h3>Covid-19 Detection</h3>
            <p>This model run on pre-trained models to classify whether the patient has contracted Covid-19 or not.
            </p>
            <div class="service-btn">
                <button><a href="{% url 'FormApp:CovidView' %}" class="anchor">Detect here!</a></button>
            </div>
        </div>

        <div class="services-card">
            <img src="{% static 'assets/images/cancer.jpg' %}">
            <h3>Lung Cancer Detection</h3>
            <p>This model run on pre-trained models to classify whether the patient has contracted Lung caner or
                not.</p>
            <div class="service-btn">
                <button><a href="{% url 'FormApp:LungView' %}" class="anchor">Detect here!</a></button>
            </div>
        </div>
        <div class="services-card">
            <img src="{% static 'assets/images/pneumonia.jpg' %}">
            <h3>Pneumonia Detection </h3>
            <p>This model run on pre-trained models to classify whether the patient has contracted Pneumonia or not.
            </p>
            <div class="service-btn">
                <button><a href="{% url 'FormApp:PneumoniaView' %}" class="anchor">Detect here!</a></button>
            </div>
        </div>
    </div>

</section>

{% endblock content %}