
{% extends "MainBase.html" %}
{% load static %}
{% block content %}

<section class="bg-image">
  <div class="container">
  <div class="banner-one">
    <div class="banner1-text"></div>

    <div class="banner1-h">
      <h1>AI Innovations in CT Scans for Precise Diagnoses, Bringing Ease and Assurance to Patients.</h1>
    </div>
    </div>
  </div>


</section>
<section>
    <div class="container">

    <div class="banner-two-main">
    <div class="bn-2">

      <h1>WHO WE ARE:</h1>
      <hr>

      <p>We are a dynamic team of three dedicated students,
        fueled by a shared passion for advancing healthcare through innovative technology.
        Under the expert guidance of our esteemed professor, we have embarked on a transformative journey to explore the realms of artificial intelligence in medical diagnostics. Committed to making a meaningful impact, our collaborative efforts converge on the intersection of AI and healthcare, specifically focusing on CT scan imaging segmentation and diagnosis for the detection of COVID-19, lung cancer, and pneumonia.
         With a shared vision for a healthier future, we strive to contribute our skills, enthusiasm, and academic rigor to pioneer advancements that redefine the landscape of medical diagnostics. Together, we form a fusion of creativity, technical expertise, and a collective commitment to elevate patient care through cutting-edge solutions.</p>
    </div>

    <div class="bn2">

      <img src="{% static 'assets/images/whoweare.png' %}">

    </div>
    </div>
    </div>
  </section>


  <section class="s-three">
    <div class="container">


    <div class="banner-three-main">

      <div class="bn3">

      <img src="{% static 'assets/images/howwehelp.png' %}">

    </div>

    <div class="bn-3">

      <h1>HOW WE ARE HELPFUL:</h1>
      <hr>


      <p>Our dedicated team  in CT scan imaging to provide invaluable support to healthcare professionals. By enhancing diagnostic accuracy and efficiency, we contribute to early detection of conditions like COVID-19, lung cancer,
         and pneumonia. Our goal is to make a tangible difference in patient care by offering innovative solutions that are seamlessly integrated into existing medical practices. Through our collaborative efforts, we aim to empower healthcare providers, streamline workflows,
          and ultimately improve patient outcomes for a healthier community.</p>
    </div>


    </div>
    </div>
  </section>


{% endblock content %}
