@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

div.container{
	width: 85%;
	margin: 0 auto;
}

.topbar{
	width: 100%;
	background-color: #000000;
	padding: 15px 0;

}

.nav-bar{
	width: 100%;
    display: inline-flex;
     justify-content: flex-end;
    align-items: center;

}

.nav-bar ul li{
    display: inline;

    margin: 15px;

}

.nav-bar ul li a{
	font-family: 'Bitter', serif;
    color: #ffffff;
    text-decoration: none;
	list-style-type: none;

}
.nav-btn button{


	color: white;
    padding: 8px 25px 8px 25px;
    background-color: #81BCBA;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    border: none;
}
.innerbar-main{

	border-bottom: 2px solid #666666;
}
.inner-bar {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0px;

}

.bar-logo{
	width: 15%;

}
.bar-logo img{
	width: 180px;
}
.vertical-line{
	border-right: 1px solid black;
	height: 40px;
	margin: 3px 0px 3px 0px;

}
.bar-text{
	width: 80%;

}
.bar-text h1{
	font-family: 'Bitter', serif;
	font-size: 20px;
	font-weight: 400;
}


.bg-image {
    background: linear-gradient( rgba(0,0,0,0), rgba(0,0,0,0)), url(../images/ab-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    background-position-y: 65%;
}

.banner-one{
	width: 100%;
	display: flex;
	height: 100%;
	align-items: center;

}
.banner1-text{
	width: 60%;

}

.banner1-h{
	width: 40%;
	background-color: #D1D4D7;
	margin-top: 290px;


}
.banner1-h h1{
	font-family: 'Bitter', serif;
	font-size: 30px;
	font-weight: 600;
	text-align: center;

	color: #043781;

}
.banner-two{
	width: 100%;
	padding-top: 50px;

}


.banner-two-main{
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 50px 0px 50px 0px;
}
.bn-2{
	width: 50%;

}

.bn-2 h1{
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 500;
	color: #002A75;

}

.bn-2 hr{
    border: 2px solid #81BCBA;
	margin: 15px 0px 15px 0px;
	width: 20%;
}

.bn2{
	width: 30%;
}

.bn2 img{
	width: 100%;
	height: 100%;
}

.bn-2 p{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #878689;
	text-align: justify;
}



.s-three{
	background-color: #E0EFEF;
}



.banner-three-main{
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 50px 0px 50px 0px;

}
.bn-3{
	width: 50%;

}

.bn-3 h1{
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 500;
	color: #002A75;

}

.bn-3 hr{
    border: 2px solid #81BCBA;
	margin: 15px 0px 15px 0px;
	width: 30%;
}

.bn-3 p{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #878689;
	text-align: justify;
}

.bn3{
	width: 30%;
}

.bn3 img{
	width: 100%;
	height: 100%;
}








footer{
	width: 100%;
	background-color: #333333;
}
.footer-main{
	width: 100%;
	display: flex;
	justify-content: space-around;

	padding: 40px 0px 30px 0px;
}


.f-content{
	width: 32%;
}
.f-content h4{
	font-family:  'Bitter', serif;
	/*padding: 45px 0px 5px;*/
	font-weight: 700;
	color: #ffffff;
}
.f-content ul{
    list-style-type: none;

}
.f-content li{
    margin: 8px 0px 0px 0px;
    font-size: 10px;
    font-family: sans-serif;
    color: #ffffff;
}

.f-content ul li a{
	font-family: sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;

}



.subscribe{
	width: 32%;
}
.subscribe h4{

	font-family: 'Bitter', serif;

	font-weight: 700;
	color: #ffffff;

}
.subscribe input[type=email]{

    border: none;

    border-bottom: 2px solid black;
    background-color: transparent;
    padding: 8px 0px 8px 20px;
    font-size: 10px;
    margin: 10px 0px 10px 0px;

}

.subscribe button{
	border: none;
    background-color: transparent;
    color: #ffffff;
    font-size: 15px;
    font-family: sans-serif;
    cursor: pointer;
    font-family: sans-serif;
    padding-left: 20px;
 }

 .subscribe img{
 	width: 180px;

 }

 .copyright{
	width: 100%;
	background-color: #666666;
}
.copyright h5{
	text-align: center;
	padding: 20px 0;
	color: white;
	font-size: 18px;
	font-family: 'Bitter', serif;
	font-weight: 400;
}