@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.result-section {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f9;
}

.result-container {
    width: 50%;
    background-color: whitesmoke;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 2px 2px 12px 1px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 8px;
}

.result-container h2 {
    color: #00317A;
    font-family: 'Bitter', serif;
    font-size: 27px;
    margin-bottom: 20px;
}

.result-container p {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
}

.result-container .prediction .result,
.result-container .disease .disease-type {
    font-weight: bold;
    color: #007bff;
}

.result-container .disease .disease-type {
    color: #dc3545;
}
