@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
.anchor-a{
	text-decoration: none;
	color: white;
	font-family: 'Bitter', serif;
    font-size: 15px;
    font-weight: 500;

}

div.container{
	width: 85%;
	margin: 0 auto;
}

.topbar{
	width: 100%;
	background-color: #000000;
	padding: 15px 0;

}

.nav-main{
	width: 100%;
    display: flex;

    align-items: center;

}
.nav-btn{
	width: 15%;
}
.nav-btn button{


	color: white;
    padding: 8px 25px 8px 25px;
    background-color: #81BCBA;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    border: none;
}
.nav-bar{
	width: 85%;
	display: flex;
     justify-content: flex-end;

}


.nav-bar ul li{
    display: inline;

    margin: 15px;

}

.nav-bar ul li a{
	font-family: 'Bitter', serif;
    color: #ffffff;
    text-decoration: none;
	list-style-type: none;

}

.innerbar-main{

	border-bottom: 2px solid #666666;
}
.inner-bar {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0px;

}

.bar-logo{
	width: 15%;

}
.bar-logo img{
	width: 180px;
}
.vertical-line{
	border-right: 1px solid black;
	height: 40px;
	margin: 3px 0px 3px 0px;

}
.bar-text{
	width: 80%;

}
.bar-text h1{
	font-family: 'Bitter', serif;
	font-size: 20px;
	font-weight: 400;
}
/*body {
	background-color: #F4F4F4;

}*/
.bg-light{
	background-color: #F4F4F4;
}

.hero-bn{
	width: 100%;
	padding: 40px 0px 0px 0px;

}
.container-heading{
	width: 85%;
	margin: auto;
}
.hero-heading{
	width: 100%;
	background-color: #666666;
	padding: 30px 0px 30px 15px;
}

.hero-heading h1{
	font-family: 'Bitter', serif;
	font-size: 20px;
	font-weight: 400;
	color: white;

}

.hero-text p{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	padding: 15px 0px 20px;
	text-align: justify;
}


.bn-two {
	width: 100%;
	display: flex;
	justify-content: space-around;

	padding: 30px 0px;

}
.bn-video-one{
	width: 40%;
}
.bn-video-two{
	width: 40%;
}

.banner-3{
	width: 100%;
	background:  linear-gradient( rgba(211,211,211,0.52), rgba(211,211,211,0.52)), url('../images/lc.jpg');
	background-position-y: 25%;
	background-color: #F4F4F4;

}
.bn3-content{

	width: 100%;
	text-align: center;

	padding: 40px 0px;
}
.bn3-content h5{
	font-family: 'Bitter', serif;
	font-size: 25px;
	font-weight: 700;
	color: #000000;



}

.bn3-content button{
	margin-top: 20px;
	color: white;
    padding: 8px 30px 8px 30px;
    background-color: #81BCBA;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border: none;
}

.sliders{
	width: 50%;
	height: 500px;
	padding: 40px 0px;
	border-radius: none;
}




.our-services{
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 50px 0;

}
.services-card{
	width: 30%;
	border: 1px solid lightgray;
	box-shadow: 0px 0px 1px 0px;

}
.services-card:hover{
	background-color: gray;

}

.services-card h3{
	padding: 5px 0px;
	font-size: 16px;
	letter-spacing: 1px;
	text-align: center;
	font-family: 'Bitter', serif;

}


.services-card img{
	width: 100%;

}


.anchor{
	text-decoration: none;
	color: white;
	font-family: 'Bitter', serif;
    font-size: 13px;
    font-weight: 400;

}
.diseases{
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 40px 0px;
}






footer{
	width: 100%;
	background-color: #333333;
}
.footer-main{
	width: 100%;
	display: flex;
	justify-content: space-around;

	padding: 40px 0px 30px 0px;


}

.f-content{
	width: 32%;
}
.f-content h4{
	font-family:  'Bitter', serif;
	/*padding: 45px 0px 5px;*/
	font-weight: 700;
	color: #ffffff;
}
.f-content ul{
    list-style-type: none;

}
.f-content li{
    margin: 8px 0px 0px 0px;
    font-size: 10px;
    font-family: sans-serif;
    color: #ffffff;
}

.f-content ul li a{
	font-family: sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;

}



.subscribe{
	width: 32%;
}
.subscribe h4{

	font-family: 'Bitter', serif;

	font-weight: 700;
	color: #ffffff;

}
.subscribe input[type=email]{

    border: none;

    border-bottom: 2px solid black;
    background-color: transparent;
    padding: 8px 0px 8px 20px;
    font-size: 10px;
    margin: 10px 0px 10px 0px;

}

.subscribe button{
	border: none;
    background-color: transparent;
    color: #ffffff;
    font-size: 15px;
    font-family: sans-serif;
    cursor: pointer;
    font-family: sans-serif;
    padding-left: 20px;
 }

 .subscribe img{
 	width: 180px;

 }

 .copyright{
	width: 100%;
	background-color: #666666;
}
.copyright h5{
	text-align: center;
	padding: 20px 0;
	color: white;
	font-size: 18px;
	font-family: 'Bitter', serif;
	font-weight: 400;
}
@media only screen and (max-width:768px) {
	.container-heading {
		width: 100%;
		margin: auto;
	}

	.hero-heading h1 {
		font-size: 30px;
		padding-left: 43px;
	}
	.bn-video-one {
		width: 45%;
	}
	.bn-video-two {
		width: 45%;
	}
	.bn-two {
		justify-content: space-between;
		padding: 20px 0px;
	}
	.hero-text p {
		font-size: 18px;
	}
	.our-services {
		padding: 20px 0px;
	}
	.services-card h3 {
		font-size: 20px;
	}
	.services-card h3 {
		font-size: 20px;
		padding-bottom: 10px;
	}




}

@media only screen and (max-width:480px) {
    .container-heading {
		width: 100%;
		margin: auto;
	}
	div.container {
		width: 100%;
		margin: 0 auto;
	}
	.hero-heading h1 {
		font-family: 'Bitter', serif;
		font-size: 25px;
		text-align: center;
	}
	.hero-text p {
		font-family: 'Roboto', sans-serif;
		font-size: 20px;
		padding: 20px 15px 20px 15px;
	}
	.bn-two {
		width: 100%;
		display: block;
		text-align: center;
		justify-content: space-around;
		padding: 20px 0px;
	}
	.bn-video-one {
		width: 100%;
		padding-bottom: 15px;
	}
	.bn-video-two {
		width: 100%;
		padding: 0px 23px;
	}

	.banner-3 {
		background-position-y: 43%;
	}
	.bn3-content h5 {
		font-size: 21px;
	}
	.our-services {
		display: block;
		text-align: center;
		padding: 15px 23px;
	}
	.services-card {
		width: 100%;
		margin-bottom: 20px;
	}
	.services-card h3 {
		font-size: 25px;
	}
	.footer-main {
		width: 100%;
		display: block;
		text-align: center;
		justify-content: space-around;
		padding: 40px 0px 30px 0px;
	}
	.f-content {
		width: 100%;
	}
	.f-content h4 {
		font-family: 'Bitter', serif;
		padding: 30px 0px 7px;
		font-weight: 700;
		font-size: 22px;
		color: #ffffff;
	}
	.subscribe {
		width: 100%;
	}
	.subscribe h4 {
		font-family: 'Bitter', serif;
		font-weight: 700;
		color: #ffffff;
		font-size: 22px;
		padding: 30px 0px 7px;
	}
	.f-content li {
		margin: 15px 0px 0px 0px;
	}
	.f-content ul li a {
		font-size: 20px;
	}
	.subscribe img {
		width: 190px;
		padding: 20px 0px;
	}



}
